.container{
    background-color: #fff;
    color: #000;
}
.card{
    border: none!important;
}
.login-section{
    padding: 80px 50px;
    border-radius: 30px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    background-image: url('../../images/login.png');
    background-position: top right;
    background-repeat: no-repeat;
   
}
.login-section h4{
    font-size: 25px;
    color: #040404;
    font-weight: 600;
    text-align: center;
}
.form-area div{

}
.form-area input{
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 13px 15px 13px 40px;
    border: none;
    font-size: 23px;
    color: #777575;
    float: left;
    border-bottom: 1px solid #777575;
}
.form-area input:focus-visible{
    outline: none;
}
.form-area div svg{
    float: left;
    color:#777575;
    margin-top:-45px;
    font-size: 25px;
    outline: none;
    margin-left: 10px;
}

.form-area input[type="submit"]{
    color: #fff;
    border: none;
}